@import "tailwindcss";

body {
  background-color: #0b2e36;
}

button:hover, a:hover {
  cursor: pointer;
}

.text-5xl {
  line-height: 64px;
}

.stone-link.selected {
  color: #fff;
  border-color: #fff;
  background-color: #0b2e36;
}

.sidebar-menu-link.selected {
  background-color: color-mix(in oklab, var(--color-white) 10%, transparent);
}